.accredit{
    padding: 10px 10px 0 10px;
}

.accredit-table{
    height: calc(100vh - 130px);
    border-top: 1px solid #3b3d51;
}

#accredit-table{
    width: 100%;
    height: 100%;
}

.operate{
    width: 156px;
}

.operate button{
    border-right: 0;
}

.dialog-common{
    width: 700px;
    height: 500px;
    margin: -250px 0 0 -350px;
}

.option-filtrate{
    margin-top: 15px;
}

.filtrate-table{
    height: 285px;
    margin-bottom: 10px;
    border: 1px solid #53556c;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.filtrate-table input[type=checkbox]{
    height: 12px;
    width: 12px;
    padding: 0;
    -webkit-appearance:none;
    border: none;
    border-radius: 0;
    background: url("../images/checkbok.png") no-repeat;
}

.filtrate-table input[type=checkbox]:checked {
    background: url("../images/checkbok-selected.png") no-repeat;
}

.filtrate-table .datagrid-header-check,
.filtrate-table .datagrid-cell-check{
    height: 12px;
}

.filtrate-table .datagrid-cell{
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.filtrate-table .datagrid-body td{
    padding: 5px 0;
}

.filtrate-table .datagrid-body td:last-child .datagrid-cell{
    text-align: left!important;
}

.combobox-item{
    text-align: center;
}

.option .combo-arrow{
    background: url("../images/drop-down.png") no-repeat 8px center;
}

.button-group button.cancel{
    background: #53556c;
    border: 1px solid #53556c;
}