<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingchuan.providermysql.mapper.CallerMapper">
    <select id="findOneByUsernameAndPassword" resultType="com.pingchuan.domain.Caller">
        SELECT code, department, login_name loginName, login_password loginPassword, role, `enabled`, real_name realName FROM callers WHERE login_name = #{username} and login_password = #{password} and `enabled` = 1
    </select>

    <select id = "findDepartment" resultType = "com.pingchuan.domain.Caller">
        select distinct(department) from callers
    </select>

    <select id = "findCallerAuthorizationInfo" resultType = "com.pingchuan.dto.web.CallerDTO">
        select r.`code`, r.login_name loginName, r.real_name realName, GROUP_CONCAT(r.url, '(',r.`explain`,')' separator '、') url
        from (select c.`code`, c.department, c.login_name, c.login_password , c.real_name, c.role, i.`name` url, i.`explain`, c.update_time, c.enabled
        from caller_interfaces ci
        join callers c on c.`code` = ci.caller_code
        join interfaces i on i.id = ci.interface_id) r
        group by r.`code`, r.login_name, r.real_name
        order by r.update_time desc
        limit #{page}, #{rows}
    </select>

    <select id = "findAllByPage" resultType = "com.pingchuan.domain.Caller">
        select `code`, department, login_name as loginName, real_name as realName, login_password as loginPassword, update_time as updateTime, role, enabled
        from callers
        order by update_time desc
        limit #{page}, #{rows}
    </select>

    <update id = "setCallerEnabled">
        update callers
        set enabled = #{isEnabled}
        where `code` = #{code}
    </update>

    <insert id = "addCaller" parameterType = "com.pingchuan.domain.Caller">
        insert into callers(`code`, department, login_name, real_name, login_password, role, update_time, enabled)
        values(#{caller.code}, #{caller.department}, #{caller.loginName}, #{caller.realName} ,#{caller.loginPassword}, #{caller.role}, #{caller.updateTime}, #{caller.enabled})
    </insert>

    <update id = "updateCaller" parameterType = "com.pingchuan.domain.Caller">
        update callers
        set department = #{caller.department}, login_name = #{caller.loginName}, real_name = #{caller.realName}, login_password = #{caller.loginPassword}, role = #{caller.role}, update_time = #{caller.updateTime}, enabled = #{caller.enabled}
        where `code` = #{caller.code}
    </update>

    <delete id = "deleteCaller">
        delete from callers where `code` = #{code}
    </delete>

    <select id = "isExistLoginName" resultType = "int">
        select count(1) from callers where login_name = #{loginName}
    </select>
</mapper>