<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingchuan.providermysql.mapper.CallerMapper">
    <select id="findOneByUsernameAndPassword" resultType="com.pingchuan.domain.Caller">
        SELECT code, department, login_name loginName, login_password loginPassword, role, `enabled`, real_name realName FROM callers WHERE login_name = #{username} and login_password = #{password} and `enabled` = 1
    </select>

    <select id = "findDepartment" resultType = "com.pingchuan.domain.Caller">
        select distinct(department) from callers
    </select>

    <select id = "findCallerAuthorizationInfo" resultType = "com.pingchuan.dto.web.CallerDTO">
        select r.`code`, r.login_name loginName, r.real_name realName, GROUP_CONCAT(r.url, '(',r.`explain`,')' separator '、') url
        from (select c.`code`, c.department, c.login_name, c.login_password , c.real_name, c.role, i.`name` url, i.`explain`, c.update_time, c.enabled
        from caller_interfaces ci
        join callers c on c.`code` = ci.caller_code
        join interfaces i on i.id = ci.interface_id) r
        group by r.`code`, r.login_name, r.real_name
        order by r.update_time desc
        limit #{page}, #{rows}
    </select>
</mapper>