<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.pingchuan.providermysql.mapper.SystemSettingMapper">
    <select id = "getSystemSettingValueById" resultType = "int">
        select `value` from system_settings where id = #{id}
    </select>

    <select id = "findTotalCount" resultType = "int">
        select count(*) from system_settings
    </select>

    <select id = "findAllByPage" resultType = "com.pingchuan.domain.SystemSetting">
        select id, `name`, `value`, description
        from system_settings
        limit #{page}, #{rows}
    </select>

    <update id = "updateValueById">
        update system_settings set `value` = #{value} where id = #{id}
    </update>
</mapper>